@import "fonts.scss";
@import "typography.scss";
@import "icons.scss";
@import "theming.scss";
body {
  height:100%;
  background-color: $background;
  padding: 0;
  margin:0;
  color: $font-color;
}

.app-bar {
  width:100%;
  height: 45px;
  position: fixed;
  background-color: $primary;
  color: $primary-font-color;
  padding-left:10px;
  .panel-left {
      display:flex;
      float:left;
      height:100%;
      justify-content:left;
      align-items: center;
  }
}





$ripple-animation-transition-in: transform .25s cubic-bezier(0.4, 0, 0.2, 1),
opacity .1s cubic-bezier(0.4, 0, 0.2, 1) !default;
$ripple-animation-transition-out: opacity .3s cubic-bezier(0.4, 0, 0.2, 1) !default;
$ripple-animation-visible-opacity: .15 !default;
.v-ripple {
  &__container {
    color: inherit;

    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    contain: strict;
  }

  &__animation {
    color: inherit;

    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: currentColor;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    will-change: transform, opacity;

    &--enter {
      transition: none;
    }

    &--in {
      transition: $ripple-animation-transition-in;
    }

    &--out {
      transition: $ripple-animation-transition-out;
    }
  }
}
